:host {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

mat-toolbar {
    height: 50px;
}


.show-sm {
    display: none;
}

@media (max-width: 720px) {
    .hide-sm {
        display: none;
    }

    .show-sm {
        display: block;
        height: 36px;
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 0;

        &>* {
            flex-grow: 1;
        }
    }
}