<footer class="footer bg-card">
  <div class="subscribe">
    <p>Sign-up for our mailing list for the latest news and updates</p>
    <form>
      <mat-form-field>
        <input matInput placeholder="EMAIL" aria-label="EMAIL">
      </mat-form-field>
      <button mat-flat-button color="accent">SUBMIT</button>
    </form>
  </div>
  <div class="row">
    <div class="col">
      <h4>About Us</h4>
      <ul>
        <li *ngFor="let link of links" [routerLink]="link.path">{{ link.label }}</li>
      </ul>
    </div>
    <div class="col">
      <h4>Our Research</h4>
    </div>
    <div class="col">
      <h4>Get Involved</h4>
    </div>
  </div>
  <div class="copy">
    <small>&copy; 2019 Biohacker's Hub. All Right Reserved</small>
  </div>
</footer>