<mat-list>
  <h3 mat-subheader>Account</h3>
  <mat-list-item class="list-tr" mat-line>
    <span class="list-th">Primary e-mail</span>
    <div class="spacer"></div>
    <span class="list-td mat-subheader">{{ setting?.data?.email }}</span>
  </mat-list-item>
</mat-list>
<mat-list>
  <h3 mat-subheader>Linked Accounts</h3>
  <mat-list-item class="list-tr" mat-line>
    <span class="list-th">Fitbit Account</span>
    <div class="spacer"></div>
    <span class="list-td mat-subheader">{{ setting?.data?.email }}</span>
  </mat-list-item>
  <div class="button-row">
    <button mat-stroked-button>Link Another Account</button>
  </div>
</mat-list>